
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

@{
    bool CheckGender(string gender)
    {
        if (Model != null && Model.Gender != null &&
            Model.Gender.Equals(gender))
        {
            return true;
        }
        else
        {
            return false;
        }

    }
    bool CheckInterest(string interest)
    {
        if (Model != null && Model.Interest != null)
        {
            foreach (var h in Model.Interest)
            {
                if (h.Equals(interest)) return true;
            }
        }
        return false;
    }
}

    <h2>Sign up</h2>


@Html.ValidationSummary()
<form action="" method="post">
    Name :<input type="text" value="@(Model==null ? "":Model.Name)" name="Name" /><br />
    <span class="text-danger">@Html.ValidationMessage("Name")</span>
   
    @*Id :<input type="number" name="Id" /><br />
    <span class="text-danger">@Html.ValidationMessage("Id")</span>*@

    <br />

    Gender:
    <label for="male">Male</label>
    <input type="radio" checked="@CheckGender("Male")" name="Gender" value="male" /> @*to pass value of radio button we need to set 'value' instead of 'name'*@
    <label for="female">Female</label>
    <input type="radio" checked="@CheckGender("Female")" name="Gender" value="female" /><br />
    <span class="text-danger">@Html.ValidationMessage("Gender")</span>

    <br />
    Profession :

    <select name="Profession">
        <option selected disabled>--- Select ---</option>
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
    </select>
    <br />
    <span class="text-danger">@Html.ValidationMessage("Profession")</span>
    <br />
    <p>Hobbies : </p>
    <label>
        <input type="checkbox" checked="@CheckInterest("Sport")" name="Interest" value="sports"> Sports
    </label>
    <br>
    <label>
        <input type="checkbox" checked="@CheckInterest("Music")" name="Interest" value="music"> Music
    </label>
    <br>
    <label>
        <input type="checkbox" checked="@CheckInterest("MOvies")" name="Interest" value="movies"> Movies
    </label>
    <br>
    <label>
        <input type="checkbox" checked="@CheckInterest("Books")" name="Interest" value="books"> Books
    </label>
    <br>
    <label>
        <input type="checkbox" checked="@CheckInterest("Travel")" name="Interest" value="travel"> Travel
    </label>
    <br>
    <br />
    <span class="text-danger">@Html.ValidationMessage("Interest")</span>
    <br />
    <input type="submit" value="Login" class="btn btn-danger" />

</form>


