
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>
        @if (Model != null)
        {
            @Model.Name <br />
            @Model.Id <br />
            @Model.Gender <br />

            @Html.Raw(string.Join(", ", Model.Interest))
            <br />
            @Model.Profession

        }
    </h2>
    <div>
        <h2>Sign up</h2>
    </div>
    <form action="" method="post">
        <input type="text" class="form-control" name="Name" placeholder="Name" />
        <input type="number" class="form-control" name="Id" placeholder="Id" />

        <br />
        Gender
        <label for="id">Male</label>
        <input type="radio" name="Gender" value="male" /> @*to pass value of radio button we need to set 'value' instead of 'name'*@
        <label for="female">Female</label>
        <input type="radio" name="Gender" value="female" />

        <br />
        Profession :

        <select name="Profession">
            <option> Select</option>
            <option value="student" >Student</option>
            <option value="teacher">Teacher</option>
        </select>
        <br />
        <p>Hobbies : </p>
        <label>
            <input type="checkbox" name="Interest" value="sports"> Sports 
        </label>
        <br>
        <label>
            <input type="checkbox" name="Interest" value="music"> Music 
        </label>
        <br>
        <label>
            <input type="checkbox" name="Interest" value="movies"> Movies 
        </label>
        <br>
        <label>
            <input type="checkbox" name="Interest" value="books"> Books 
        </label>
        <br>
        <label>
            <input type="checkbox" name="Interest" value="travel"> Travel
        </label>
        <br>
        <input type="submit" value="Login" class="btn btn-danger" />

    </form>
</body>
</html>

